doctype html
html(lang="en")
    head
        title Page title
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
        meta(name="description" content="")
        meta(name="author" content="")
        link(rel="stylesheet" href="https://rsms.me/inter/inter.css")
        link(rel="stylesheet" href="css/bulma/bulma-theme.css")
        link(rel="icon" href="favicon.ico")
        script(src="js/main.js")
    body
        div


            section(class="section")
                div(class="container")
                    div(class="columns is-vcentered")
                        div(class="column is-6 has-text-centered-mobile")
                            h2(class="title is-spaced")
                                span Lorem ipsum
                                | 
                                span(class="has-text-primary") dolor sit
                                | 
                                span amet, consectetur adipiscing.
                            p(class="subtitle") Integer felis tellus, rhoncus ac pulvinar vitae.
                        div(class="is-flex column is-6 is-justify-content-center")
                            div(class="field is-grouped")
                                div(class="control has-icons-left")
                                    span(class="icon is-small is-left")
                                        svg(class="image is-24x24", xmlns="http://www.w3.org/2000/svg", viewbox="0 0 20 20", fill="currentColor")
                                            path(d="M2.003 5.884L10 9.882l7.997-3.998A2 2 0 0016 4H4a2 2 0 00-1.997 1.884z")
                                            path(d="M18 8.118l-8 4-8-4V14a2 2 0 002 2h12a2 2 0 002-2V8.118z")
                                    input(class="input", type="text", placeholder="Type your e-mail")
                                div(class="control")
                                    button(class="button is-primary", type="submit") Sign Up
